{% extends 'base.html' %}

{% block content %}
    <style>
        
        
    </style>

    <main class="mai">
        <form method="POST">
            <h2>Cambiar Contraseña
                <a href="{% url 'profile' %}">
                    <button type="button" class="btn-close">X</button>
                </a>
            </h2>

            {% csrf_token %}
            {{ form.as_p }}

            <div class="button-container">
                <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
                
            </div>
        </form>
    </main>
{% endblock %}
